/*************************************
 * generic styling for ALS elements
 ************************************/

.als-container {
	position: relative;
	width: 100%;
	margin: 0px auto;
	z-index: 0;
}

.als-viewport {
	position: relative;
	overflow: hidden;
	margin: 0px auto;
}

.als-wrapper {
	position: relative;
	list-style: none;
}

.als-item {
	position: relative;
	display: block;
	text-align: center;
	cursor: pointer;
	float: left;
}

.als-item img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}



.als-prev, .als-next {
	position: absolute;
	cursor: pointer;
	clear: both;
	
}

.als-prev, .als-next {
	top: 40px;
}

.als-prev {
	left: 20px;
}

.als-next {
	right: 20px;
}

/*************************************
 * specific styling for #all-streams
 ************************************/
/*
#all-streams {
	margin: 10px auto;
}

#all-streams .als-item {
	margin: 0px 5px;
	padding: 4px 0px;
	min-height: 120px;
	min-width: 100px;
	text-align: center;
}

#all-streams .als-item img {
	display: block;
	margin: 0 auto;
	vertical-align: middle;
}

#all-streams .als-prev, #all-streams .als-next {
	top: 40px;
}

#all-streams .als-prev {
	left: 20px;
}

#all-streams .als-next {
	right: 20px;
}*/